.connections-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    
}

.wallet-container {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}