.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    font-family: 'Alata', sans-serif;
}

body {
  background-image: url('./assets/stardust.png');
}

span {
  font-size: 20px;
  color: #eeeeee;
}

.appContent {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

#unity-container.unity-desktop {
  position: relative;
  margin-bottom: 200px;
}
